<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hk.blog.dao.BlogDAO">

    <!--查询所有-->
    <select id="listAll" parameterType="com.hk.blog.vo.BlogQuery" resultType="com.hk.blog.entity.Blog">
        select * from t_blog
        <where>
            <if test="title != null and title != ''">
                AND title=#{title}
            </if>
            <if test="typeId != null and typeId != ''">
                AND type_id=#{typeId}
            </if>
            <if test="recommend != false">
                AND recommend=#{recommend}
            </if>
        </where>
        order by update_time desc
    </select>

    <!--查询一条按id-->
    <select id="getOne" parameterType="Long" resultType="com.hk.blog.entity.Blog">
        select * from t_blog where id=#{id}
    </select>

    <select id="findTop" parameterType="Integer" resultType="com.hk.blog.entity.Blog">
        select * from t_blog where recommend=1 order by update_time desc limit #{high}
    </select>

    <!--查询一条按typename-->
<!--    <select id="getOneByName" parameterType="String" resultType="com.hk.blog.entity.Blog">-->
<!--        select * from t_blog where tagname=#{tagname}-->
<!--    </select>-->

    <!--分页查询-->
    <select id="findByPage" resultType="com.hk.blog.entity.Blog">
        select * from t_blog order by id desc limit #{start},#{rows}
    </select>

    <!--quanjusousuo -->
    <select id="findByQuery" parameterType="String" resultType="com.hk.blog.entity.Blog">
        select * from t_blog where title like concat('%',#{query},'%') or content like concat('%',#{query},'%')
    </select>

    <!--查询总数-->
    <select id="findTotals" resultType="Integer">
        select count(*) from t_blog
    </select>

    <update id="update" parameterType="com.hk.blog.entity.Blog">
        update t_blog set appreciation=#{appreciation},commentabled=#{commentabled},content=#{content},create_time=#{createTime}
        ,description=#{description},first_picture=#{firstPicture},flag=#{flag},published=#{published},recommend=#{recommend}
         ,share_statement=#{shareStatement},title=#{title},update_time=#{updateTime},views=#{views},type_id=#{typeId},user_id=#{userId}
         where id=#{id}
    </update>

    <insert id="saveReId" useGeneratedKeys="true" parameterType="com.hk.blog.entity.Tag" keyProperty="id" keyColumn="id">
        insert into t_blog value(#{id},#{appreciation},#{commentabled},#{content},#{createTime}
        ,#{description},#{firstPicture},#{flag},#{published},#{recommend}
         ,#{shareStatement},#{title},#{updateTime},#{views},#{typeId},#{userId})
    </insert>

    <delete id="delete" parameterType="Long">
        delete from t_blog where id=#{id}
    </delete>
</mapper>

