<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hk.blog.dao.UserDAO">

    <!--用户登录-->
    <select id="findByUsername" parameterType="String" resultType="com.hk.blog.entity.User">
        select * from t_user where username = #{username}
    </select>

    <select id="findByUserId" parameterType="Long" resultType="com.hk.blog.entity.User">
        select * from t_user where id = #{id}
    </select>

</mapper>

